ai-influencer.json
{
  "name": "ai inf @umutcakirai",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Influencer @umutcakirai",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What do you want to do?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Add a new influencer"
                  },
                  {
                    "option": "Create a weekly plan"
                  },
                  {
                    "option": "Create a new post"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -4608,
        -1008
      ],
      "id": "dc4d1902-c639-44dd-87b9-7ec667d16553",
      "name": "On form submission",
      "webhookId": "d9176a7c-2df4-4823-b5a1-9073c7eca7f0"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "af22e08c-fb4c-4f71-beeb-baf1396e3025",
                    "leftValue": "={{ $('On form submission').item.json['What do you want to do?'] }}",
                    "rightValue": "Add a new influencer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Add a new influencer"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "31301ad8-6aea-4a83-aea9-32c4b54fcccb",
                    "leftValue": "={{ $('On form submission').item.json['What do you want to do?'] }}",
                    "rightValue": "Create a weekly plan",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create a weekly plan"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('On form submission').item.json['What do you want to do?'] }}",
                    "rightValue": "Create a new post",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a1482d9a-1250-4821-ac3c-088193496380"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create a new post"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4064,
        -1024
      ],
      "id": "7c62de3f-7613-4fdc-a010-1ea9ddb4780a",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const file in $input.first().binary) {\n  try {\n    const bin = $input.first().binary[file];\n    const binBuffer = await this.helpers.getBinaryDataBuffer(0, file);\n\n    const path = bin.directory\n      ? `${bin.directory}/${bin.fileName}`\n      : bin.fileName;\n\n    results.push(`data:${bin.mimeType};base64,` + Buffer.from(binBuffer).toString('base64'));\n  } catch (error) {\n    console.error(`Error processing file \"${file}\": ${error.message}`);\n  }\n}\n\nreturn [{\n  json: {\n    files: results,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3648,
        -1568
      ],
      "id": "36c4863f-6051-4cb4-abd7-73318af8fdff",
      "name": "Convert images to base64"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name of the influencer",
              "requiredField": true
            },
            {
              "fieldLabel": "Bio of the influencer",
              "fieldType": "textarea",
              "placeholder": "be as thorough as possible",
              "requiredField": true
            },
            {
              "fieldLabel": "Reference image",
              "fieldType": "file",
              "acceptFileTypes": ".jpg,.png",
              "requiredField": true
            },
            {
              "fieldLabel": "Add a weekly plan",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Add a weekly plan"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Instagram Business ID",
              "placeholder": "use the guide to get the ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3808,
        -1568
      ],
      "id": "8a60f068-f166-46af-80c4-beb1eac5a85e",
      "name": "Influencer details",
      "webhookId": "d5ba0708-5fc2-4621-b672-4548f39da099"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88fdb102-725a-43d9-9244-2871042a803d",
              "leftValue": "={{ $('Influencer details').item.json['Add a weekly plan'] }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3312,
        -1568
      ],
      "id": "946ca5be-b5e9-485d-b761-8bf7c5b75bd4",
      "name": "Add weekly plan?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ac51cc9-10e5-44b4-8c6d-878fb3656503",
              "name": "influencer_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2608,
        -1008
      ],
      "id": "8ba6fa71-aa74-4e00-930b-894c2189e1fb",
      "name": "Set influencer id"
    },
    {
      "parameters": {
        "text": "=Create a social media post calendar for this artificial person, who's sharing the life events on Instagram using the instructions below.\nEach day of the week should be carefully planned, monday to sunday. Add at least one paragraph to each day.\nMake sure to add 3 different post ideas for each day.\n\n<PersonalProfile>\n{{ $('Get influencer for weekly planning').item.json.name }}\n\n{{ $('Get influencer for weekly planning').item.json.bio }}\n</PersonalProfile>\n\n<Instructions>\n{{ $json.Plan }}\n</Instructions>\n\n{{ $json.change_requests ? `\nThe weekly plan was already generated, please make the requested changes.\n\n<WeeklyPlan>\n${$json.weekly_plan}\n</WeeklyPlan>\n\n<ChangeRequests>\n${$json.change_requests}\n</ChangeRequests>\n` : '' }}",
        "attributes": {
          "attributes": [
            {
              "name": "weekly_plan",
              "description": "the weekly plan",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a travel planner for a famous instagram celebrity. Create a detailed plan according to the instructions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -1296,
        -1216
      ],
      "id": "4e1a1644-b232-4399-9136-790dd29b4c20",
      "name": "Generate weekly plan"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4096,
        -480
      ],
      "id": "b7dc55d0-29ca-4f0f-bfb9-86dfcb9f2ec4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pyKXDwtIZbJGJPDW",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.influencer_db }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.influencer_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2384,
        -1008
      ],
      "id": "356c5ee5-f3f9-4680-9a11-bf775af920d6",
      "name": "Get influencer for weekly planning"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.influencer_db }}",
          "mode": "id"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3792,
        -1008
      ],
      "id": "3c692880-732a-4203-9b18-2c8348a3fcbd",
      "name": "Get all influencers for weekly planning",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3600,
        -1008
      ],
      "id": "a0266730-bdb3-4293-a7de-7a820aa12d36",
      "name": "Aggregate influencers",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2000,
        -1008
      ],
      "id": "0e879ec3-7876-4f4b-9d7c-00faac0c166c",
      "name": "Aggregate previous plans"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.plans_db }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "influencer_id",
              "keyValue": "={{ $('Set influencer id').item.json.influencer_id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2192,
        -1008
      ],
      "id": "9b9181bd-3bf0-4fc5-83aa-3b4e5558ec02",
      "name": "Get previous plans",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.plans_db }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "influencer_id": "={{ $('Set influencer id').item.json.influencer_id }}",
            "week": "={{ ((weekString) => {\n  const matches = weekString.match(/^(\\d{4}), week (\\d{1,2})/);\n  return `${matches[1]}/${matches[2]}`;\n})($('Select the week').item.json['Select week']) }}",
            "plan": "={{ $('Generate weekly plan').last().json.output.weekly_plan }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "influencer_id",
              "displayName": "influencer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "week",
              "displayName": "week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "plan",
              "displayName": "plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -672,
        -1232
      ],
      "id": "b457b2eb-5fd7-422e-b5e4-5a60f0969299",
      "name": "Insert plan"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b46b57d-a476-4d73-969c-2b590ddf4967",
              "name": "influencer_id",
              "value": "={{ $json.influencer_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3808,
        -656
      ],
      "id": "76bb33ef-668b-4bea-b58c-43dfc78dcc7e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.influencer_db }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.influencer_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2880,
        -496
      ],
      "id": "9e5a7ffb-637c-4e64-a569-3b2134413123",
      "name": "Get influencer for creating a post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c71548d-c249-42aa-998e-2d91bc29a230",
              "name": "influencer_db",
              "value": "<<id>>",
              "type": "string"
            },
            {
              "id": "65a94cf4-b0ea-47ce-8289-acde7768fb2e",
              "name": "plans_db",
              "value": "<<id>>",
              "type": "string"
            },
            {
              "id": "627b55aa-69b2-4712-b81f-36ac2fccf2ce",
              "name": "posts_db",
              "value": "<<id>>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4336,
        -1008
      ],
      "id": "67a9ed5f-33ba-4b26-afe4-826a9b615de9",
      "name": "Configure workflow"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Post type",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Image"
                  },
                  {
                    "option": "Video"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -480
      ],
      "id": "e00e547a-385b-4b05-adc8-b8353c19e80b",
      "name": "Select post type",
      "webhookId": "e9886663-3a3a-43ab-8973-9ccb2b1d9e5d"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2000,
        -512
      ],
      "id": "48a8d6aa-b8b0-4a97-a1d3-d69e8a414716",
      "name": "Aggregate daily posts"
    },
    {
      "parameters": {
        "content": "# Post to instagram\n# [Guide to setup Facebook (Instagram)](https://github.com/umutcakirai/ai-influencer/blob/main/guide-instagram.md)",
        "height": 884,
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        -416
      ],
      "id": "837770dc-943c-4700-96c5-33aade93d8cd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Post type'] }}",
                    "rightValue": "Image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5b604c1-33a9-4d85-bf97-df9ab8369121"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca0ddd39-98ec-417e-8627-e5ac1a7c6407",
                    "leftValue": "={{ $json['Post type'] }}",
                    "rightValue": "Video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3808,
        64
      ],
      "id": "e078ffe5-5af6-4099-bc12-5fa4c0f86ee3",
      "name": "Switch1"
    },
    {
      "parameters": {
        "text": "=Create a social media video post for this artificial person, who's sharing her life on Instagram using the instructions below.\nUse the detailed weekly plan to find what to post today. Make sure to look at the previous posts (if available) to make sure the post fits to the plan in a logical order.\n\nFor each post, generate an instagram post (text content, seed image generation prompt and a video prompt (that will use the seed image as the starter image)). \nAs I'm using a reference image for the image generation, don't describe the general look of the person, and start with \"create a photorealistic image of me\", and continue with describing the scene in great detail, make it a few paragraph long. Make sure the image prompt includes \"do not add any text on the image\".\nCreate a short summary of the post for cataloging purposes.\n\n<PersonalProfile>\n{{ $('Get influencer for creating a post').item.json.name }}\n\n{{ $('Get influencer for creating a post').item.json.bio }}\n</PersonalProfile>\n\n<WeeklyPlan>\n{{ $('Get the plan for the week').item.json.plan }}\n</WeeklyPlan>\n\n<DayOfTheWeek>\n{{ $now.format('EEEE') }}\n</DayOfTheWeek>\n\n{{ !$('Aggregate daily posts').item.json.data.length ? `\n<PreviousPostsFromToday>\n${$('Aggregate daily posts').item.json.data.map(item => `\n<Post>\n  <Content>${item.post_summary}</Content>\n</Post>\n`).join('\\n')}\n</PreviousPostsFromToday>\n` : '' }}\n\n{{ $json.change_requests ? `\nThe post was already generated, please apply the change requests\n\n<PostContent>\n${$json.post_content}\n</PostContent>\n\n<ImagePrompt>\n${$json.image_prompt}\n</ImagePrompt>\n\n<VideoPrompt>\n${$json.video_prompt}\n</VideoPrompt>\n\n<ChangeRequests>\n${$json.change_requests}\n</ChangeRequests>\n` : '' }}",
        "attributes": {
          "attributes": [
            {
              "name": "post_content",
              "description": "the instagram post's text content to share with the image. use emojis, hashtags",
              "required": true
            },
            {
              "name": "image_prompt",
              "description": "the seed image prompt to use to generate the social media image",
              "required": true
            },
            {
              "name": "summary",
              "description": "short summary of the post",
              "required": true
            },
            {
              "name": "video_prompt",
              "description": "the video prompt, that will generate the 8s long video, starting from the seed image",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a social media expert. Create a post for instagram based on the instructions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -3520,
        240
      ],
      "id": "74cdbfa1-0791-40fe-addb-c0822f9680e2",
      "name": "Generate new Instagram post for video"
    },
    {
      "parameters": {
        "text": "=Create a social media post for this artificial person, who's sharing her life on Instagram using the instructions below.\nUse the detailed weekly plan to find what to post today. Make sure to look at the previous posts (if available) to make sure the post fits to the plan in a logical order.\n\nFor each post, generate an instagram post (text content and an image generation prompt). \nAs I'm using a reference image for the image generation, don't describe the general look of the person, and start with \"create a photorealistic image of me\", and continue with describing the scene in great detail, make it a few paragraph long. Make sure the image prompt includes \"do not add any text on the image\".\nCreate a short summary of the post for cataloging purposes.\n\n<PersonalProfile>\n{{ $('Get influencer for creating a post').item.json.name }}\n\n{{ $('Get influencer for creating a post').item.json.bio }}\n</PersonalProfile>\n\n<WeeklyPlan>\n{{ $('Get the plan for the week').item.json.plan }}\n</WeeklyPlan>\n\n<DayOfTheWeek>\n{{ $now.format('EEEE') }}\n</DayOfTheWeek>\n\n{{ !$('Aggregate daily posts').item.json.data.length ? `\n<PreviousPostsFromToday>\n${$('Aggregate daily posts').item.json.data.map(item => `\n<Post>\n  <Content>${item.post_summary}</Content>\n</Post>\n`).join('\\n')}\n</PreviousPostsFromToday>\n` : '' }}\n\n{{ $json.change_requests ? `\nThe post was already generated, please apply the change requests\n\n<PostContent>\n${$json.post_content}\n</PostContent>\n\n<ImagePrompt>\n${$json.image_prompt}\n</ImagePrompt>\n\n<ChangeRequests>\n${$json.change_requests}\n</ChangeRequests>\n` : '' }}",
        "attributes": {
          "attributes": [
            {
              "name": "post_content",
              "description": "the instagram post's text content to share with the image. use emojis, hashtags",
              "required": true
            },
            {
              "name": "image_prompt",
              "description": "the image prompt to use to generate the social media image",
              "required": true
            },
            {
              "name": "summary",
              "description": "short summary of the post",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a social media expert. Create a post for instagram based on the instructions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -3520,
        -192
      ],
      "id": "90f7cb67-16cc-4e8d-80d1-3d5e15806225",
      "name": "Generate new Instagram post for image"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TbgBIj6zLMdFK0bw",
          "mode": "list",
          "cachedResultUrl": "/workflow/TbgBIj6zLMdFK0bw",
          "cachedResultName": "Fal.ai nanobanana subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $json.image_prompt }}",
            "image_base64": "={{ $('Get influencer for creating a post').item.json.image }}",
            "aspect_ratio": "9:16"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "width",
              "displayName": "width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "image_base64",
              "displayName": "image_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2480,
        224
      ],
      "id": "43d830bb-a1de-4e06-9545-c553b38d8a62",
      "name": "Generate seed image"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "g8qv1iS8picTYw0q",
          "mode": "list",
          "cachedResultUrl": "/workflow/g8qv1iS8picTYw0q",
          "cachedResultName": "Fal.ai Veo 3.1 image to video subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $json.video_prompt }}",
            "image_base64": "={{ $('Generate seed image').item.json.images[0].url }}",
            "aspect_ratio": "9:16",
            "resolution": "1080p",
            "generate_audio": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image_base64",
              "displayName": "image_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resolution",
              "displayName": "resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "generate_audio",
              "displayName": "generate_audio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1536,
        208
      ],
      "id": "2a337e38-e3ec-47a7-8be4-db13a05fa0e4",
      "name": "Generate video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bca7d364-d81e-415f-b759-b1ccceffb763",
              "name": "video_prompt",
              "value": "={{ $json.video_prompt || $('Generate new Instagram post for video').item.json.output.video_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1712,
        208
      ],
      "id": "8d283d5e-d315-43c3-ba21-bf8b0d123c86",
      "name": "Set video prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TbgBIj6zLMdFK0bw",
          "mode": "list",
          "cachedResultUrl": "/workflow/TbgBIj6zLMdFK0bw",
          "cachedResultName": "Fal.ai nanobanana subworkflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $json.image_prompt }}",
            "image_base64": "={{ $('Get influencer for creating a post').item.json.image }}",
            "aspect_ratio": "9:16"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "width",
              "displayName": "width",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "height",
              "displayName": "height",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "image_base64",
              "displayName": "image_base64",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2288,
        -208
      ],
      "id": "248e1c39-2e31-4d75-9529-a1428b0a413e",
      "name": "Generate image"
    },
    {
      "parameters": {
        "content": "# Database settings",
        "height": 480,
        "width": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4416,
        -1184
      ],
      "id": "e79f4102-4699-4db1-801c-6d58bec38901",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d74c44d8-e66b-4835-9e15-729676b0c4d5",
              "leftValue": "={{ $json.data.filter(item => item.id) }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3424,
        -1008
      ],
      "id": "cdfd876a-9814-42ec-a8a2-a0fdd33dfa5f",
      "name": "If no influencer"
    },
    {
      "parameters": {
        "options": {
          "formTitle": "You don't have any influencers yet",
          "buttonLabel": "Create a new influencer"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3104,
        -1248
      ],
      "id": "67f44f07-4b27-4e38-8d53-16fa01451276",
      "name": "Notify user to create an influencer",
      "webhookId": "de7583f1-0244-4738-a222-4091a0797699"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.influencer_db }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Influencer details').item.json['Name of the influencer'] }}",
            "bio": "={{ $('Influencer details').item.json['Bio of the influencer'] }}",
            "image": "={{ $json.files[0] }}",
            "instagram_business_id": "={{ $('Influencer details').item.json['Instagram Business ID'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "bio",
              "displayName": "bio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "instagram_business_id",
              "displayName": "instagram_business_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3472,
        -1568
      ],
      "id": "035e391d-dd57-43e3-8145-c17b168c8fd2",
      "name": "Add influencer"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "=Great success!",
        "completionMessage": "={{ $json['Name of the influencer'] }} was saved successfully to the database. Now it's time to add some plans and posts!",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3008,
        -1568
      ],
      "id": "9c430742-69dc-450c-b665-276e8b4b2dd5",
      "name": "Influencer saved",
      "webhookId": "ed74d1ab-db40-48c9-8a42-99ebf608c367"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify([\n  {\n    \"fieldLabel\": \"Influencer\",\n    \"requiredField\": true,\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n      \"values\": $json.data.map(item => { return {option: `${item.name}`} })\n    }\n  }\n]) }}",
        "options": {
          "formTitle": "Select the influencer"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3168,
        -1024
      ],
      "id": "f8fe805b-8e1c-418b-9b2a-baa0faa277da",
      "name": "Select influencer for planning",
      "webhookId": "dd733256-81ee-4213-abcb-91cbe246d6e0"
    },
    {
      "parameters": {
        "jsCode": "let id;\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const selectedInfluencer = item.json.Influencer;\n  id = $('Aggregate influencers').first().json.data.find(influencer => selectedInfluencer === influencer.name)?.id;\n}\n\nreturn [{\n  json: {\n    id\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2928,
        -1024
      ],
      "id": "b11b78bd-301c-41de-a309-31378e2787cd",
      "name": "Map influencer for planning"
    },
    {
      "parameters": {
        "jsCode": "let weeks = [];\n\nfunction weekBounds(year, weekNumber) {\n  const monday = DateTime.fromObject({\n    weekYear: year,\n    weekNumber: weekNumber,\n    weekday: 1,   // Monday\n    hour: 0,\n    minute: 0,\n    second: 0,\n    millisecond: 0\n  });\n  \n  const sunday = monday.plus({ days: 6 });\n\n  return {\n    start: monday.toFormat(\"MM/dd/yyyy\"),\n    end: sunday.toFormat(\"MM/dd/yyyy\")\n  };\n}\n\nfor (const item of $input.all()) {\n  let currentWeek = DateTime.now().weekNumber;\n  let currentYear = 2025;\n\n  while(weeks.length < 4) {\n    if (currentWeek > 52) {\n      currentWeek = 1;\n      currentYear++;\n    }\n    if ($input.first().json.data.find(previous => previous?.week === `${currentYear}/${currentWeek}`)) {\n      currentWeek++;\n      continue;\n    }\n    const {start, end} = weekBounds(currentYear, currentWeek)\n    weeks.push({\n      currentYear,\n      currentWeek,\n      startOfWeek: start,\n      endOfWeek: end\n    });\n    currentWeek++;\n  }\n}\n\nreturn [{\n  json: {\n    weeks\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        -1008
      ],
      "id": "a9bc990f-8f2a-4a43-88c9-20cb2de8020c",
      "name": "Generate week options"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify([\n  {\n    \"fieldLabel\": \"Select week\",\n    \"requiredField\": true,\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n      \"values\": $json.weeks.map(item => { return {option: `${item.currentYear}, week ${item.currentWeek} (${item.startOfWeek}-${item.endOfWeek})`} })\n    }\n  },\n  {\n    \"fieldLabel\": \"Plan\",\n    \"fieldType\": \"textarea\",\n    \"requiredField\": true\n  }\n]) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1616,
        -1008
      ],
      "id": "7a144bdf-6e98-4e1f-b71d-611410378751",
      "name": "Select the week",
      "webhookId": "e88b064f-10d2-48af-baff-086b69085e00"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you approve?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "If you selected no, what changes do you want to apply?",
              "fieldType": "textarea",
              "placeholder": "Be as thorough as possible"
            },
            {
              "fieldLabel": "Create post",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Create post"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "formDescription": "=Here's the weekly plan:\n\n{{ $json.output.weekly_plan }}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1024,
        -1216
      ],
      "id": "480d6281-0e1c-41f3-8c44-8fd89a71a18f",
      "name": "Plan approval",
      "webhookId": "b4fd283b-aab4-4766-b444-12ecba728534"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c919b7b-8ddc-4c10-afa4-68cd7edf2176",
              "leftValue": "={{ $json['Do you approve?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        -1216
      ],
      "id": "dd39752f-5f9c-4f6b-a388-3c7840dd447e",
      "name": "Approve plan?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6d99474-863d-4926-bbf6-6f8d96502ca4",
              "name": "change_requests",
              "value": "={{ $json['If you selected no, what changes do you want to apply?'] }}",
              "type": "string"
            },
            {
              "id": "562dcfe4-60c2-4883-989c-97b2fa8accd0",
              "name": "weekly_plan",
              "value": "={{ $('Generate weekly plan').last().json.output.weekly_plan }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -1024
      ],
      "id": "1a756cc5-b626-42c7-9f0a-963cbd9b9605",
      "name": "Set plan variables"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9bc0ab4b-838e-4f5f-a5e0-d4227bd65d58",
              "leftValue": "={{ $('Plan approval').last().json['Create post'] }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        -1008
      ],
      "id": "daac2858-01be-4fb0-be24-c9fd098a37b1",
      "name": "Create post?"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "=Great success!",
        "completionMessage": "=The plan for {{ $json.week }} was saved successfully to the database. Now it's time to add some posts!",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -144,
        -1024
      ],
      "id": "e1b3ca3e-9581-4c74-8262-05fafea5729e",
      "name": "Plan saved",
      "webhookId": "ed74d1ab-db40-48c9-8a42-99ebf608c367"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.influencer_db }}",
          "mode": "id"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -3824,
        -496
      ],
      "id": "cff023be-253c-4e21-8416-9c5acf4ed780",
      "name": "Get all influencers for creating posts"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3632,
        -496
      ],
      "id": "d6037b28-fb21-49fb-b1e3-3d10853066aa",
      "name": "Aggregate influencers for creating post"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "={{ JSON.stringify([\n  {\n    \"fieldLabel\": \"Influencer\",\n    \"requiredField\": true,\n    \"fieldType\": \"dropdown\",\n    \"fieldOptions\": {\n      \"values\": $json.data.map(item => { return {option: `${item.name}`} })\n    }\n  }\n]) }}",
        "options": {
          "formTitle": "Select the influencer"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3440,
        -496
      ],
      "id": "a6cdb2f4-dceb-4685-989d-6c85a78c013c",
      "name": "Select influencer for creating post",
      "webhookId": "dd733256-81ee-4213-abcb-91cbe246d6e0"
    },
    {
      "parameters": {
        "jsCode": "let influencer_id;\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const selectedInfluencer = item.json.Influencer;\n  influencer_id = $('Aggregate influencers for creating post').first().json.data.find(influencer => selectedInfluencer === influencer.name)?.id;\n}\n\nreturn [{\n  json: {\n    influencer_id\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        -496
      ],
      "id": "46b63e33-62ce-4375-9607-0c7485c6df6a",
      "name": "Map influencer for creating post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ac51cc9-10e5-44b4-8c6d-878fb3656503",
              "name": "influencer_id",
              "value": "={{ $json.influencer_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3104,
        -496
      ],
      "id": "da3f95e8-2e88-4ba2-acd8-279ada033c7e",
      "name": "Set influencer id for creating a post"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.plans_db }}",
          "mode": "id"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "week",
              "keyValue": "={{ $now.format('yyyy/WW') }}"
            },
            {
              "keyName": "influencer_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2704,
        -496
      ],
      "id": "c05e0705-442c-427a-a05d-dd3703c29037",
      "name": "Get the plan for the week",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2454227-a8e8-41d2-970a-bbaf3b587693",
              "leftValue": "={{ $json.keys() }}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2432,
        -496
      ],
      "id": "e97dca7d-4b10-43d9-b6a5-091e634a3b13",
      "name": "Has a plan for the week?"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.posts_db }}",
          "mode": "id"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "gt",
              "keyValue": "={{ $now.startOf('day').toUTC() }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -2192,
        -512
      ],
      "id": "a2d9d6a6-c872-4ccc-b8b2-b6a6795a0ee3",
      "name": "Get previous posts for today",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you approve?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "If you selected no, what changes do you want to apply?",
              "fieldType": "textarea",
              "placeholder": "Be as thorough as possible"
            }
          ]
        },
        "options": {
          "formDescription": "=Here's the post:\n{{ $json.output.post_content }}\n\nThis is the image prompt:\n{{ $json.output.image_prompt }}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3200,
        -192
      ],
      "id": "5d924a7d-d42f-4bb8-86ca-788562a5168f",
      "name": "Image post approval",
      "webhookId": "b4fd283b-aab4-4766-b444-12ecba728534"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c919b7b-8ddc-4c10-afa4-68cd7edf2176",
              "leftValue": "={{ $json['Do you approve?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3008,
        -192
      ],
      "id": "42887b50-d8aa-4dfa-ab3b-3349e4ae4c40",
      "name": "Approve image post?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6d99474-863d-4926-bbf6-6f8d96502ca4",
              "name": "change_requests",
              "value": "={{ $json['If you selected no, what changes do you want to apply?'] }}",
              "type": "string"
            },
            {
              "id": "2b67b23c-bb56-4e31-adbf-3c5596098822",
              "name": "post_content",
              "value": "={{ $('Generate new Instagram post for image').item.json.output.post_content }}",
              "type": "string"
            },
            {
              "id": "7cafc015-bb66-4ce4-9406-2d9485008430",
              "name": "image_prompt",
              "value": "={{ $('Generate new Instagram post for image').item.json.output.image_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2800,
        -112
      ],
      "id": "2648bf3e-b695-4990-81c1-7b246ad7bcdf",
      "name": "Set image post variables"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bca7d364-d81e-415f-b759-b1ccceffb763",
              "name": "image_prompt",
              "value": "={{ $json.image_prompt || $('Generate new Instagram post for image').last().json.output.image_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2528,
        -208
      ],
      "id": "63bd72d2-1f7a-4ed3-93ab-befd510376c2",
      "name": "Set image prompt for image post"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you approve?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "The image prompt",
              "fieldType": "textarea",
              "placeholder": "Change the image prompt here"
            }
          ]
        },
        "options": {
          "formDescription": "=Here's the generated image:\n<img src=\"{{ $json.images[0].url }}\" width=\"100%\" alt=\"\" />\n\nThis was the image prompt:\n{{ $('Set image prompt for image post').last().json.image_prompt }}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -2000,
        -208
      ],
      "id": "7b897639-5664-40ef-bfea-bdbc18bb2c2f",
      "name": "Image approval",
      "webhookId": "b4fd283b-aab4-4766-b444-12ecba728534"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c919b7b-8ddc-4c10-afa4-68cd7edf2176",
              "leftValue": "={{ $json['Do you approve?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1792,
        -208
      ],
      "id": "25c44895-bd8f-456e-abc8-029c5b4f0508",
      "name": "Approve image?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ab73f03-24e1-40be-8a98-3148546f18d6",
              "name": "image_prompt",
              "value": "={{ $json['The image prompt'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        -112
      ],
      "id": "c45f9bb8-831b-43df-b264-6bf6684399f0",
      "name": "Setup image variables"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Get influencer for creating a post').item.json.instagram_business_id }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -464,
        -176
      ],
      "id": "ee3b9afa-972f-4e09-8b1a-06cccbd04fc8",
      "name": "Post to Instagram",
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Get influencer for creating a post').item.json.instagram_business_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $('Generate image').item.json.images[0].url }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Generate new Instagram post for image').last().json.output.post_content }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -656,
        -176
      ],
      "id": "b1064805-2d3e-40ff-bb9e-2a52edc7fe86",
      "name": "Upload image to Instagram",
      "disabled": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.posts_db }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "influencer_id": "={{ $('Get influencer for creating a post').item.json.id }}",
            "post_summary": "={{ $('Generate new Instagram post for image').last().json.output.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "influencer_id",
              "displayName": "influencer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "post_summary",
              "displayName": "post_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -112,
        -176
      ],
      "id": "d6c0f9c8-c322-4ffe-aabb-c32e607c942c",
      "name": "Insert image post"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "The post was created",
        "completionMessage": "Posted, and saved to the database",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        80,
        -176
      ],
      "id": "8c8f5852-f47e-41ce-936a-1220224b8f5a",
      "name": "Image post saved",
      "webhookId": "9a7cb03a-7c1a-43c6-8ba1-d97dc3c0349e"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you approve?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "If you selected no, what changes do you want to apply?",
              "fieldType": "textarea",
              "placeholder": "Be as thorough as possible"
            }
          ]
        },
        "options": {
          "formDescription": "=Here's the post:\n{{ $json.output.post_content }}\n\nThis is the image prompt:\n{{ $json.output.image_prompt }}\n\nThis is the video prompt:\n{{ $json.output.video_prompt }}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3232,
        240
      ],
      "id": "3e8615c2-4585-423d-856f-e1d4c0143996",
      "name": "Video post approval",
      "webhookId": "b4fd283b-aab4-4766-b444-12ecba728534"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c919b7b-8ddc-4c10-afa4-68cd7edf2176",
              "leftValue": "={{ $json['Do you approve?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3040,
        240
      ],
      "id": "d0f700d6-77d4-48e6-b45e-41c27678a146",
      "name": "Approve video post?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6d99474-863d-4926-bbf6-6f8d96502ca4",
              "name": "change_requests",
              "value": "={{ $json['If you selected no, what changes do you want to apply?'] }}",
              "type": "string"
            },
            {
              "id": "2b67b23c-bb56-4e31-adbf-3c5596098822",
              "name": "post_content",
              "value": "={{ $('Generate new Instagram post for video').item.json.output.post_content }}",
              "type": "string"
            },
            {
              "id": "7cafc015-bb66-4ce4-9406-2d9485008430",
              "name": "image_prompt",
              "value": "={{ $('Generate new Instagram post for video').item.json.output.image_prompt }}",
              "type": "string"
            },
            {
              "id": "044a617b-6df1-44b7-9c54-c93e4425769e",
              "name": "video_prompt",
              "value": "={{ $('Generate new Instagram post for video').item.json.output.video_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2864,
        352
      ],
      "id": "9a940816-7cf9-4968-94b5-e1341a81d532",
      "name": "Setup video post variables"
    },
    {
      "parameters": {
        "options": {
          "formTitle": "No plan for this week!",
          "formDescription": "You need a weekly plan before creating a post",
          "buttonLabel": "Create a weekly plan"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -3104,
        -688
      ],
      "id": "c7641a20-9722-4c50-8548-133ef6cd6c5a",
      "name": "Notify user about the missing plan",
      "webhookId": "96a38fbf-a480-4aa9-8a91-54d119873518"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79a1670d-70d1-4f58-b036-4583e5c8568a",
              "name": "id",
              "value": "={{ $('Get influencer for creating a post').item.json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2896,
        -688
      ],
      "id": "531bc06e-589f-4b0f-9225-5983ce4c14a5",
      "name": "Setup the influencer id"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you approve?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "The image prompt",
              "fieldType": "textarea",
              "placeholder": "Change the image prompt here"
            }
          ]
        },
        "options": {
          "formDescription": "=Here's the generated image:\n<img src=\"{{ $json.images[0].url }}\" width=\"100%\" alt=\"\" />\n\nThis was the image prompt:\n{{ $('Set image prompt for seed image').last().json.image_prompt }}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -2288,
        224
      ],
      "id": "a1fea7aa-61db-452c-9372-13a5e6934847",
      "name": "Seed image approval",
      "webhookId": "b4fd283b-aab4-4766-b444-12ecba728534"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c919b7b-8ddc-4c10-afa4-68cd7edf2176",
              "leftValue": "={{ $json['Do you approve?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2112,
        224
      ],
      "id": "10ca7669-9af8-45a2-9913-e5ebcf938727",
      "name": "Approve seed image?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ab73f03-24e1-40be-8a98-3148546f18d6",
              "name": "image_prompt",
              "value": "={{ $json['The image prompt'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1920,
        352
      ],
      "id": "fc46dff2-d829-4a42-b03d-78b35d4fc087",
      "name": "Setup seed image variables"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bca7d364-d81e-415f-b759-b1ccceffb763",
              "name": "image_prompt",
              "value": "={{ $json.image_prompt || $('Generate new Instagram post for video').last().json.output.image_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2672,
        224
      ],
      "id": "973f0cca-e8d8-44f5-9fbc-d3f833f88f26",
      "name": "Set image prompt for seed image"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Do you approve?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "The video prompt",
              "fieldType": "textarea",
              "placeholder": "Change the video prompt here"
            }
          ]
        },
        "options": {
          "formDescription": "=Here's the generated image:\n<video width=\"100%\" controls>\n  <source src=\"{{ $json.video.url }}\" type=\"video/mp4\">\n  Your browser does not support the video tag.\n</video>\n\nThis was the video prompt:\n{{ $('Set video prompt').last().json.video_prompt }}"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1344,
        208
      ],
      "id": "0fa3e4cb-464c-4588-9858-ca6fffd137a1",
      "name": "Video approval",
      "webhookId": "b4fd283b-aab4-4766-b444-12ecba728534"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c919b7b-8ddc-4c10-afa4-68cd7edf2176",
              "leftValue": "={{ $json['Do you approve?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        208
      ],
      "id": "945443eb-9f0f-4c62-9cdc-318e4f39b95b",
      "name": "Approve video?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ab73f03-24e1-40be-8a98-3148546f18d6",
              "name": "video_prompt",
              "value": "={{ $json['The video prompt'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        352
      ],
      "id": "ac9301d1-3635-43ba-b362-4e8ef7b630d3",
      "name": "Video variables"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Get influencer for creating a post').item.json.instagram_business_id }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "video_url",
                "value": "={{ $('Generate video').last().json.video }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Generate new Instagram post for image').last().json.output.post_content }}"
              },
              {
                "name": "media_type",
                "value": "VIDEO"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -656,
        208
      ],
      "id": "3867b318-e554-4986-ab92-d13de067cd87",
      "name": "Upload video to Instagram",
      "disabled": true
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Get influencer for creating a post').item.json.instagram_business_id }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -464,
        208
      ],
      "id": "cbf2e382-22b1-48a9-8155-abe10bb68863",
      "name": "Post video post to Instagram",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Create a new influencer",
        "height": 352,
        "width": 1056
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3856,
        -1712
      ],
      "typeVersion": 1,
      "id": "eb5acb4a-f808-42b2-b117-d5abc1036074",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Add a weekly plan",
        "height": 432,
        "width": 3920
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3856,
        -1280
      ],
      "typeVersion": 1,
      "id": "488bf804-700a-4fa8-ad74-18febb44716f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Create a post",
        "height": 1264,
        "width": 4144
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3856,
        -752
      ],
      "typeVersion": 1,
      "id": "e0a42a1b-cfa4-4015-a94c-33034b5669bd",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "={{ $('Configure workflow').item.json.posts_db }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "influencer_id": "={{ $('Get influencer for creating a post').item.json.id }}",
            "post_summary": "={{ $('Generate new Instagram post for video').last().json.output.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "influencer_id",
              "displayName": "influencer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "post_summary",
              "displayName": "post_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -112,
        208
      ],
      "id": "4f9aeebc-3020-45e7-9cf7-a650db2b7dce",
      "name": "Insert video post"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "The post was created",
        "completionMessage": "Posted, and saved to the database",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        96,
        208
      ],
      "id": "3d96f0c2-36a0-4b7a-ac04-31bf958974ab",
      "name": "Video post saved",
      "webhookId": "9a7cb03a-7c1a-43c6-8ba1-d97dc3c0349e"
    },
    {
      "parameters": {
        "content": "#  [Sinirli alimin oldugu topluluga omur boyu katilmak icin!](https://www.skool.com/umutcakirai-9288)\n",
        "height": 148,
        "width": 1052,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2736,
        -1536
      ],
      "id": "500bddad-40ea-4d66-8911-52292369a9c7",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Configure workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Influencer details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get all influencers for weekly planning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get all influencers for creating posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert images to base64": {
      "main": [
        [
          {
            "node": "Add influencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Influencer details": {
      "main": [
        [
          {
            "node": "Convert images to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add weekly plan?": {
      "main": [
        [
          {
            "node": "Set influencer id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Influencer saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set influencer id": {
      "main": [
        [
          {
            "node": "Get influencer for weekly planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate weekly plan": {
      "main": [
        [
          {
            "node": "Plan approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate weekly plan",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate new Instagram post for video",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate new Instagram post for image",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get influencer for weekly planning": {
      "main": [
        [
          {
            "node": "Get previous plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all influencers for weekly planning": {
      "main": [
        [
          {
            "node": "Aggregate influencers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate influencers": {
      "main": [
        [
          {
            "node": "If no influencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate previous plans": {
      "main": [
        [
          {
            "node": "Generate week options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get previous plans": {
      "main": [
        [
          {
            "node": "Aggregate previous plans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert plan": {
      "main": [
        [
          {
            "node": "Create post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Set influencer id for creating a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get influencer for creating a post": {
      "main": [
        [
          {
            "node": "Get the plan for the week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select post type": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate daily posts": {
      "main": [
        [
          {
            "node": "Select post type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Generate new Instagram post for image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate new Instagram post for video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate new Instagram post for video": {
      "main": [
        [
          {
            "node": "Video post approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate new Instagram post for image": {
      "main": [
        [
          {
            "node": "Image post approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate seed image": {
      "main": [
        [
          {
            "node": "Seed image approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate video": {
      "main": [
        [
          {
            "node": "Video approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set video prompt": {
      "main": [
        [
          {
            "node": "Generate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate image": {
      "main": [
        [
          {
            "node": "Image approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If no influencer": {
      "main": [
        [
          {
            "node": "Select influencer for planning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify user to create an influencer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify user to create an influencer": {
      "main": [
        [
          {
            "node": "Influencer details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add influencer": {
      "main": [
        [
          {
            "node": "Add weekly plan?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select influencer for planning": {
      "main": [
        [
          {
            "node": "Map influencer for planning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map influencer for planning": {
      "main": [
        [
          {
            "node": "Set influencer id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate week options": {
      "main": [
        [
          {
            "node": "Select the week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select the week": {
      "main": [
        [
          {
            "node": "Generate weekly plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan approval": {
      "main": [
        [
          {
            "node": "Approve plan?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve plan?": {
      "main": [
        [
          {
            "node": "Insert plan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set plan variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set plan variables": {
      "main": [
        [
          {
            "node": "Generate weekly plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create post?": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Plan saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all influencers for creating posts": {
      "main": [
        [
          {
            "node": "Aggregate influencers for creating post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate influencers for creating post": {
      "main": [
        [
          {
            "node": "Select influencer for creating post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select influencer for creating post": {
      "main": [
        [
          {
            "node": "Map influencer for creating post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map influencer for creating post": {
      "main": [
        [
          {
            "node": "Set influencer id for creating a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set influencer id for creating a post": {
      "main": [
        [
          {
            "node": "Get influencer for creating a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the plan for the week": {
      "main": [
        [
          {
            "node": "Has a plan for the week?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has a plan for the week?": {
      "main": [
        [
          {
            "node": "Get previous posts for today",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify user about the missing plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get previous posts for today": {
      "main": [
        [
          {
            "node": "Aggregate daily posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image post approval": {
      "main": [
        [
          {
            "node": "Approve image post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve image post?": {
      "main": [
        [
          {
            "node": "Set image prompt for image post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set image post variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image post variables": {
      "main": [
        [
          {
            "node": "Generate new Instagram post for image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image prompt for image post": {
      "main": [
        [
          {
            "node": "Generate image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image approval": {
      "main": [
        [
          {
            "node": "Approve image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve image?": {
      "main": [
        [
          {
            "node": "Upload image to Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Setup image variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup image variables": {
      "main": [
        [
          {
            "node": "Set image prompt for image post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Insert image post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload image to Instagram": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert image post": {
      "main": [
        [
          {
            "node": "Image post saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video post approval": {
      "main": [
        [
          {
            "node": "Approve video post?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve video post?": {
      "main": [
        [
          {
            "node": "Set image prompt for seed image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Setup video post variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup video post variables": {
      "main": [
        [
          {
            "node": "Generate new Instagram post for video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify user about the missing plan": {
      "main": [
        [
          {
            "node": "Setup the influencer id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup the influencer id": {
      "main": [
        [
          {
            "node": "Set influencer id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed image approval": {
      "main": [
        [
          {
            "node": "Approve seed image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve seed image?": {
      "main": [
        [
          {
            "node": "Set video prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Setup seed image variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup seed image variables": {
      "main": [
        [
          {
            "node": "Set image prompt for seed image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set image prompt for seed image": {
      "main": [
        [
          {
            "node": "Generate seed image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video approval": {
      "main": [
        [
          {
            "node": "Approve video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve video?": {
      "main": [
        [
          {
            "node": "Upload video to Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Video variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video variables": {
      "main": [
        [
          {
            "node": "Set video prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload video to Instagram": {
      "main": [
        [
          {
            "node": "Post video post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post video post to Instagram": {
      "main": [
        [
          {
            "node": "Insert video post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert video post": {
      "main": [
        [
          {
            "node": "Video post saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6cbbcc72-fc35-4cb8-a318-b9e9f6d14192",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96242dff5c24d0ef68c9c3613f57b8e78785db0c001bbdc899825523553eddfe"
  },
  "id": "ILXQnF7AqPpIITj5",
  "tags": []
}
